<form (ngSubmit)="joinRoom()" class="create-room-form mt-20">
  <mat-form-field appearance="fill" class="input-form">
    <mat-label>Enter room name</mat-label>
    <input matInput [formControl]="room">
    <mat-error *ngIf=" room.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <br />
  <button mat-raised-button color="primary" class="button-form" [@moveButtonAnimation]="typeAnimation"
    (mouseenter)="moveButton()" (click)="moveButton()">
    Create room
  </button>
  <mat-card class="mt-20" *ngIf="(allGames | json) !== '{}'">
    <mat-selection-list #items [multiple]="false">
      <mat-list-option *ngFor="let item of allGames | keyvalue" [value]="item" routerLink="/game/{{item.key}}"
        class="inherit">
        <mat-icon mat-list-icon>{{item.value > 1 ? 'people_alt' : 'person'}}</mat-icon>
        <div mat-line>{{item.key}}</div>
        <div mat-line> {{item.value}} player{{item.value > 1 ? 's' : ''}}</div>
      </mat-list-option>
    </mat-selection-list>
  </mat-card>
</form>