@use '@angular/material' as mat;
@use './theme.scss' as theme;

@include mat.core();

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: theme.$primary,
      accent: theme.$accent,
      warn: theme.$warn,
    ),
  )
);

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: theme.$primary,
      accent: theme.$accent,
      warn: theme.$warn,
    ),
  )
);

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.light-theme {
  @include mat.all-component-themes($light-theme);
  @import 'app/game/tetrisboard/tetrisboard.component.light.scss';
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  ::-webkit-scrollbar {
	width: 5px;
  }

  ::-webkit-scrollbar-track {
	background: #666;
  }

  ::-webkit-scrollbar-thumb {
	background: #ddd;
	border-radius: 20px;
  }
}
.avatarImg {
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.inherit {
  color: inherit !important;
}

.mr-8 {
  margin-right: 8px;
}
.mt-5 {
	margin-top: 5px;
}
.mt-20 {
	margin-top: 20px;
}

.font-size-12 {
	font-size: 12px;
}

.primary-color {
	color: theme.$primaryColor;
}
.success-color {
	color: theme.$successColor;
}
.info-color {
	color: theme.$infoColor;
}
.warn-color {
	color: theme.$warnColor;
}
.error-color {
	color: theme.$errorColor;
}
.light-grey-color {
	color: theme.$lightGreyColor;
}
.grey-color {
	color: theme.$greyColor;
}
