<p>third-sub works!</p>
<context-consumer consume="rate2 rate4 onRating2"></context-consumer>

<mat-form-field appearance="fill">
  <mat-label>Number</mat-label>
  <input
    matInput
    type="number"
    placeholder="1"
    [ngModel]="rate2"
    (ngModelChange)="onRating2($event)" />
</mat-form-field>
rate2[{{ rate2 }}]
<br />

<ng-template contextDisposer="rate3 onRating3" let-context>
  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input
      matInput
      type="number"
      placeholder="1"
      [ngModel]="context.rate3"
      (ngModelChange)="context.onRating3($event)" />
  </mat-form-field>
  rate3[{{ context.rate3 }}]
</ng-template>
<br />

<ng-template contextDisposer="rate5" let-control="rate5">
  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input
      matInput
      type="number"
      placeholder="1"
      *ngIf="control"
      [formControl]="control" />
  </mat-form-field>
  rate5[{{ control }}]
</ng-template>
