@use '../../../theme.scss' as theme;

.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  overflow: auto;
  flex-direction: row;

  div {
    width: calc(10% - 5px);
    margin: 2px;
    aspect-ratio: 1 / 1;
    // height: 0;
    // padding-bottom: calc(10% - 10px);ß
    background-color: #5a5b62;
    box-shadow: 0 0 1px 1px #d9dbe3;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75vh;
  }

  .piece {
    background-color: theme.$accentColor;
  }
  .preFinalPlace {
    background-color: #d9dbe3;
  }
  .finalPlace {
    background-color: theme.$primaryColor;
    // background-color: #00000000;
  }
}

// .card {
//   width: 400px;
//   margin-top: -75px;
// }

// .lottie {
//   position: absolute;
//   margin-top: -15px;
//   z-index: 10000;
// }

.test {
  animation: wave 1s ease-in-out 0s 1;
  animation-delay: calc(.1s*var(--i));

  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;
}

@keyframes wave {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.5);
    opacity: 0.2;
  }

  40%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
