<p>third-sub component works!</p>
<context-consumer consume="rate1  onRating1"></context-consumer>

<mat-form-field appearance="fill">
  <mat-label>Rating 1</mat-label>
  <input
    matInput
    type="number"
    placeholder="1"
    [ngModel]="rate1"
    (ngModelChange)="onRating1($event)" />
</mat-form-field>
- rate1: [{{ rate1 }}]
<br />

<ng-template contextDisposer="rate2 onRating2" let-context>
  <mat-form-field appearance="fill">
    <mat-label>Rating 2</mat-label>
    <input
      matInput
      type="number"
      placeholder="1"
      [ngModel]="context.rate2"
      (ngModelChange)="context.onRating2($event)" />
  </mat-form-field>
  - rate2: [{{ context.rate2 }}]
</ng-template>
<br />

<ng-template contextDisposer="rate3" let-control="rate3">
  <mat-form-field appearance="fill">
    <mat-label>Rating 3</mat-label>
    <input
      matInput
      type="number"
      placeholder="1"
      *ngIf="control"
      [formControl]="control" />
  </mat-form-field>
  - rate3: [{{ control.value }}]
</ng-template>
