<mat-tab-group *ngIf="isAdmin" (selectedTabChange)="updateModeIndex($event);" class="modes"
  [@fadeAllAnimation]="animationOpacity">
  <mat-tab label="Classic"><br> Boring and stupid mode as stated in the subject</mat-tab>
  <mat-tab label="Battle"><br> The number of "blocked lines" is defined by the player with the highest score</mat-tab>
  <mat-tab label="Blind"><br> Same as Battle mode, but board isn't blocked, you are just blind.</mat-tab>
  <mat-tab label="Free"><br> No blocked line</mat-tab>
  <mat-tab label="Semi-Chaos"><br>When a sack of piece is empty, you get a chaos piece</mat-tab>
  <mat-tab label="PvP-Chaos"><br>You can send chaos pieces to others with score</mat-tab>
</mat-tab-group>
<h3 *ngIf="!isAdmin" class="wait" [style]="animationOpacity === 'false' ? 'visibility: visible' : 'visibility: hidden'">
  Waiting for Captain to launch the shuttle . . .</h3>

<mat-card class="mt-20" [ngClass]="isMobile ? 'members-mobile' : 'members'" [@fadeAllAnimation]="animationOpacity">
  <mat-chip-list aria-label="Total players" class="container-row-right">
    <mat-chip>{{members.length}}</mat-chip>
  </mat-chip-list>
  <mat-list [ngClass]="isMobile ? 'list-mobile' : 'list'">
    <mat-list-item *ngFor="let member of members">
      <mat-icon mat-list-icon>{{member.isAdmin ? 'rocket' : 'person'}}</mat-icon>
      <div mat-line>{{member.name}}</div>
      <button mat-mini-fab color="primary" (click)="startGame();" aria-label="Launch"
        *ngIf="(member.isAdmin && isAdmin) || members.length === 1">
        <mat-icon>rocket_launch</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{id: member.id}"
        *ngIf="isAdmin && !((member.isAdmin && isAdmin) || members.length === 1)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-menu #appMenu="matMenu" [@fadeAllAnimation]="animationOpacity">
  <ng-template matMenuContent let-id="id">
    <button mat-menu-item (click)="setAdmin(id)">
      <mat-icon>rocket_launch</mat-icon>
      <span>Convey Captain's hat</span>
    </button>
    <button mat-menu-item (click)="kickFromRoom(id)">
      <mat-icon>swipe_up</mat-icon>
      <span>Jettison</span>
    </button>
  </ng-template>
</mat-menu>